<%- include("../partials/header") %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>
				Welcome to Books_Hopper !
			</h1>
			<p>
				View our hand-picked books from all over the World
			</p>
			<p>
				<a class="btn btn-primary btn-md" href="/bookshopper/addbooks">Add Books</a>
			</p>
			<p>
				<form action="/bookshopper" methoth="GET" class="form-inline">
					<div class="form-group">
						<input type="text" name="search" placeholder="Books Search..." class="form-control">
						<input type="submit" value="Search" class="btn btn-default">
					</div>
				</form>
			</p>  
		</div>
	</header>
	<div class="row text-center" style="display:flex;flex-wrap:wrap;">
		<% books.forEach(function(book){ %>
		<div class="col-md-3 col-sm-6">
			<div id="show" class = "thumbnail">
				<img src="<%=book.image%>" style="width: 200px;height:250px">
				<div class="caption">
					<h4>
						<%= book.name %>
					</h4>	
				</div>
				<p>
					<a href="bookshopper/<%=book._id%>" class="btn btn-primary">More Info</a>
				</p>
			</div>
		</div>
		<%});%>		
	</div>
</div>
</div>
</div>
<%- include("../partials/footer") %>